# Sort demo

In [1]:
import pandas as pd

In [2]:
cols = ['Vehicle Type','DirectionTime_O','GantryID_O','DirectionTime_D','GantryID_D','Trip Length','Trip End','Trip Information']
data = pd.read_csv('TDCS_M06A_20190830_080000.csv', names = cols)

In [3]:
data.head()

,Vehicle Type,DirectionTime_O,GantryID_O,DirectionTime_D,GantryID_D,Trip Length,Trip End,Trip Information
0,31,2019-08-30 08:17:14,03F3307N,2019-08-30 08:17:14,03F3307N,5.2,Y,2019-08-30 08:17:14+03F3307N
1,31,2019-08-30 08:01:02,03F0648S,2019-08-30 08:01:02,03F0648S,5.6,Y,2019-08-30 08:01:02+03F0648S
2,31,2019-08-30 08:51:45,03F0648N,2019-08-30 08:57:09,03F0559N,13.9,Y,2019-08-30 08:51:45+03F0648N; 2019-08-30 08:57...
3,31,2019-08-30 08:20:45,03F3854S,2019-08-30 08:20:45,03F3854S,8.6,Y,2019-08-30 08:20:45+03F3854S
4,32,2019-08-30 08:06:10,03F4168S,2019-08-30 08:09:33,03F4232S,9.3,Y,2019-08-30 08:06:10+03F4168S; 2019-08-30 08:09...

In [4]:
def my_sort(df, col, is_asc = True):
    """
    Sort function.
    Inputs:
    - df: DataFrame
            the data to sort.
    - col: str or list of str
            Sort by column(s).
    - is_asc: bool or list of bool, default True
            1/True: ascending, 0/False: descending

    Returns: DataFrame
    """
    return df.sort_values(col, ascending= is_asc)

In [6]:
my_sort(data, 'Vehicle Type', 1)

,Vehicle Type,DirectionTime_O,GantryID_O,DirectionTime_D,GantryID_D,Trip Length,Trip End,Trip Information
82767,5,2019-08-30 08:47:40,01F0182S,2019-08-30 08:56:04,01F0293S,16.3,Y,2019-08-30 08:47:40+01F0182S; 2019-08-30 08:53...
68470,5,2019-08-30 08:46:48,01F0155N,2019-08-30 08:56:06,01F0029N,14.2,Y,2019-08-30 08:46:48+01F0155N; 2019-08-30 08:47...
127946,5,2019-08-30 08:17:24,01F3083S,2019-08-30 08:36:45,01F3126S,11.8,Y,2019-08-30 08:17:24+01F3083S; 2019-08-30 08:36...
237567,5,2019-08-30 08:08:02,03F0006S,2019-08-30 08:08:02,03F0006S,2.4,Y,2019-08-30 08:08:02+03F0006S
237549,5,2019-08-30 08:51:27,03F0136S,2019-08-30 08:51:27,03F0136S,3.6,Y,2019-08-30 08:51:27+03F0136S
...,...,...,...,...,...,...,...,...
152479,42,2019-08-30 08:30:43,01F0155N,2019-08-30 08:30:43,01F0155N,1.6,Y,2019-08-30 08:30:43+01F0155N
76783,42,2019-08-30 08:41:21,01F3460S,2019-08-30 08:57:36,01F3686S,27.3,Y,2019-08-30 08:41:21+01F3460S; 2019-08-30 08:46...
152499,42,2019-08-30 08:22:01,01F2603N,2019-08-30 08:27:07,01F2514N,14.0,Y,2019-08-30 08:22:01+01F2603N; 2019-08-30 08:27...
76829,42,2019-08-30 08:16:07,03F0394S,2019-08-30 08:19:55,03F0447S,10.6,Y,2019-08-30 08:16:07+03F0394S; 2019-08-30 08:19...
184021,42,2019-08-30 08:30:05,03F1739N,2019-08-30 10:00:50,03F0338N,145.0,Y,2019-08-30 08:30:05+03F1739N; 2019-08-30 08:32...

In [18]:
def my_search(df, col, text):
    """
    Sort function.
    Inputs:
    - df: DataFrame
            the data to search.
    - col: str or list of str
            Search by column(s).
    - text: any type
            content to search

    Returns: DataFrame
    """
    return df.loc[df[col] == text]

In [19]:
my_search(data, 'Vehicle Type', 31)

,Vehicle Type,DirectionTime_O,GantryID_O,DirectionTime_D,GantryID_D,Trip Length,Trip End,Trip Information
0,31,2019-08-30 08:17:14,03F3307N,2019-08-30 08:17:14,03F3307N,5.2,Y,2019-08-30 08:17:14+03F3307N
1,31,2019-08-30 08:01:02,03F0648S,2019-08-30 08:01:02,03F0648S,5.6,Y,2019-08-30 08:01:02+03F0648S
2,31,2019-08-30 08:51:45,03F0648N,2019-08-30 08:57:09,03F0559N,13.9,Y,2019-08-30 08:51:45+03F0648N; 2019-08-30 08:57...
3,31,2019-08-30 08:20:45,03F3854S,2019-08-30 08:20:45,03F3854S,8.6,Y,2019-08-30 08:20:45+03F3854S
5,31,2019-08-30 08:52:35,03F4168S,2019-08-30 08:58:14,03F4263S,15.3,Y,2019-08-30 08:52:35+03F4168S; 2019-08-30 08:56...
...,...,...,...,...,...,...,...,...
259617,31,2019-08-30 08:56:27,01F1123S,2019-08-30 10:14:05,01F1621S,55.1,Y,2019-08-30 08:56:27+01F1123S; 2019-08-30 09:07...
259618,31,2019-08-30 08:50:21,01F0376N,2019-08-30 08:53:05,01F0339N,8.4,Y,2019-08-30 08:50:21+01F0376N; 2019-08-30 08:53...
259619,31,2019-08-30 08:07:35,01F0248S,2019-08-30 08:34:23,01F0681S,46.0,Y,2019-08-30 08:07:35+01F0248S; 2019-08-30 08:08...
259620,31,2019-08-30 08:19:05,05F0309N,2019-08-30 08:19:05,05F0309N,8.3,Y,2019-08-30 08:19:05+05F0309N
259621,31,2019-08-30 08:38:11,05F0055N,2019-08-30 08:38:11,05F0055N,10.7,Y,2019-08-30 08:38:11+05F0055N